<% @name=current_user.name %>
<% overwork_users=Work.where(over_check: @name).pluck(:user_id).uniq %>

<!-- 2.モーダルの配置 -->
<div class="modal" id="modal-overwork" tabindex="-1">
    <div class="modal-dialog over_work">

        <!-- 3.モーダルのコンテンツ -->
        <%= form_tag({:controller => 'works', :action => 'update_overwork'}, {:method => :patch}) do %>

        
        
        <div class="modal-content">
            <button type="button" class="close" data-dismiss="modal">
                <span aria-hidden="true">&times;</span>
            </button>
            <% overwork_users.each do |m_user| %>
            <% user_overworks=User.find(m_user).works.where(over_check: @name).pluck(:day).sort %>
            <!-- 4.モーダルのヘッダ -->
            <div class="modal-header">
                
                <h4 class="modal-title" id="modal-label"><%= "【#{User.find(m_user).name}からの残業申請】" %></h4>
            </div>
            <!-- 5.モーダルのボディ -->
            <div class="modal-body">
                
                <table class="table table-bordered">
                    <tr>
                        <td>日付</td>
                        <td>曜日</td>
                        <td>終了予定時間</td>
                        <td>指定勤務終了時間</td>
                        <td>時間外時間</td>
                        <td>業務処理内容</td>
                        <td>指示者確認㊞</td>
                        <td>変更</td>
                        <td>勤怠を確認</td>
                        
                    </tr>
            <% colors = ["a","b","a","b","a","b","a","b","a","b","a","b","a","b","a","b","a","b","a","b","a","b","a","b","a","b","a","b","a","b","a"] %>
            <% datas = Hash[*user_overworks.zip(colors).flatten(1)] %>
            <% datas.each do |date, value| %>
            <% @over_work = User.find(m_user).works.find_by(day: date) %>
            
                    <tr class="<%=value%> top" >
                        <td id="modal-date"><%= "#{@over_work.day.month}/#{@over_work.day.day}"  %> </td>
                        <td id="modal-day"><%= %w(日 月 火 水 木 金 土)[@over_work.day.wday] %> </td>
                        <td>
                            <%= "#{@over_work.endtime_plan.strftime("%H")}:#{@over_work.endtime_plan.strftime("%M")}"  %><br>
                            <%= "(翌日)" unless @over_work.endtime_plan.day == date.day %>
                        </td>
                        <td>
                            <%= "#{select_user.d_end_worktime.strftime("%H")}:#{select_user.d_end_worktime.strftime("%M")}" %>
                        </td>
                        <td>
                            <%= sprintf("%.2f", overwork_time(@over_work) ) %>
                        </td>
                        <td>
                                <%= @over_work.work_content  %>
                        </td>
                        <td>
                            <%= fields_for "works[]", @over_work do |fi| %>
                                <%= fi.select :over_check, [["なし", "なし"],["申請中", "#{current_user.name}"],["承認", "承認"],["否認", "否認"]], {prompt: ""}, { class: 'form-control'} %>
                            <% end %>
                        </td>
                        <td class="center">
                            <%= fields_for "works[]", @over_work do |fi| %>
                                <%= fi.check_box :check_box,{},checked_value = "true",unchecked_value = "false" %>
                            <% end %>
                        </td>
                        <td>
                          <%= link_to "確認", user_work_path(User.find_by(id: @over_work.user_id),@over_work.day, authority: "super"),  {class: 'btn btn-primary'} %>  
                        </td>


                        
                            <%= fields_for "works[]", @over_work do |fi| %>
                                <%= fi.hidden_field :day, :value => "",:id => "test" %>
                            <% end %>
                
                    </tr>
        <% end %>
                
                </table>
            
            </div>
            <% end %>
            <!-- 6.モーダルのフッタ -->
            <div class="modal-footer">
                <!--<button type="button" class="btn btn-default" data-dismiss="modal">閉じる</button>-->
                <%= submit_tag "変更を送信する", class: "btn btn-primary btn-submit" %>
            </div>
        </div>
        <% end %>
    </div>
</div>

<script>
  $('#modal-sample').on('show.bs.modal', function (event) {
  var button = $(event.relatedTarget) //モーダルを呼び出すときに使われたボタンを取得
  var date = button.data('date') //data-date の値を取得
  var day = button.data('day') //data-day の値を取得
  var date_1 = button.data('date_1') //data-date_1 の値を取得
  
  //Ajaxの処理はここに

  var modal = $(this)  //モーダルを取得
  modal.find('#modal-date').text(date) //モーダルの日付に値を表示
  modal.find('#modal-day').text(day) //モーダルの曜日に値を表示
  
  var date_1= date_1
   $(document).ready(function(){
        $('#test').val(date_1);
   });
  
})

// var my_email= "12"
//   $(document).ready(function(){
//         $("#email_field").val(my_email);
//   });
   
   
</script>
