<% y = 2019 %>
<% m = 1 %>
<div>

<table class="table table-bordered">
        <tr>
            <td>
                <% unless m=="4" %>
                <%= link_to "←", user_work_path(current_user,bbbb(m)), class: "btn btn-default btn-lg active" %>
                <%end%>
                <%= y %>年<%= m %>月の時間管理表
                <% unless m=="3" %>
                <%= link_to "→", user_work_path(current_user,aaaa(m)), class: "btn btn-default btn-lg active" %></td>
                <%end%>
            <td>指定勤務時間  8.00</td>
            <td rowspan="1" colspan="3">7.50  基本時間</td>
            <td>初日 <%= current_month_first %></td>
        </tr>
        <tr>
            <td>所属 <%= current_user.team %></td>
            <td>氏名 <%= current_user.name %></td>
            <td>コード</td>
            <td></td>
            <td>出勤日数 <%= current_user.works.where(day: Time.new(y,m).all_month).select("end_time").count %>日</td>
            <td>締め <%= current_month_end %></td>
        </tr>
    </table>
    
    <%= link_to "勤怠を編集", login_path, class: "btn btn-default btn-lg active" %>

    
    
    
 



    <table class="table table-bordered">
        <tr>
            <td></td>
            <td></td>
            <td rowspan="1" colspan="3">出社</td>
            <td rowspan="1" colspan="2">退社</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>日付</td>
            <td>曜日</td>
            <td>時</td>
            <td>分</td>
            <td></td>
            <td>時</td>
            <td>分</td>
            <td>在社時間</td>
            <td>備考</td>
        </tr>
        
        
        
        <% @days = (Date.new(y,m).all_month) %>
        <% @days.each do |day| %>
    <tr>
  
          <td><%=day.month%>/<%=day.day%></td>
          <td><%= %w(日 月 火 水 木 金 土)[day.wday]%></td>
          <td><%=start_time(day) && start_time(day).hour%></td>
          <td><%=start_time(day) && start_time(day).min%></td>
          <td><% if day==Date.today%><%= button_to "#{work_name}", :action => "create", class: "btn btn-default btn-lg btn-block"  %><% end %></td>
          <td><%=end_time(day) && end_time(day).hour%></td>
          <td><%=end_time(day) && end_time(day).min%></td>
          <td><%=end_time(day) && BigDecimal(((end_time(day) - start_time(day))/60/60).to_s).floor(2).to_f %></td>
          <td></td>
      
    </tr>
  <% end %>
        
        
        
        
        
        <tr>
            
            <td rowspan="1" colspan="2"><%= total_works_time(y,m) %></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td><%=total_time(y,m).sum.floor(2)%></td>
            <td></td>
        </tr>
    </table>

</div>
