<% y = @date.year %>
<% m = @date.month %>
<%= form_tag user_work_path, method: :put do %>
<table class="table table-bordered">		
        <tr>
			<td>日付</td>
			<td>曜日</td>
			<td>出社</td>
			<td>退社</td>
			<td>在社時間</td>
			<td>備考</td>
		</tr>
		
		<% days = (Date.new(y,m).all_month) %>
        <% colors = ["a","b","a","b","a","b","a","b","a","b","a","b","a","b","a","b","a","b","a","b","a","b","a","b","a","b","a","b","a","b","a"] %>
        <% datas = Hash[*days.zip(colors).flatten(1)] %>
        <% datas.each do |key, value| %>
            <% if current_user.works.find_by(day: key)%>
                <% work = current_user.works.find_by(day: key) %>
            <% else %>
                <% work = Work.new %>
            <% end %>
         <tr class="<%=value%>">
  
          <td><%=key.month%>/<%=key.day%></td>
          <td><%= %w(日 月 火 水 木 金 土)[key.wday] %></td>
          <td>
                  <%= fields_for "works[]", work do |f| %>
                      <%= f.time_field :start_time, {class: 'form-control'}  %>
                  <% end %>
          </td>
          <td>
                  <%= fields_for "works[]", work do |f| %>
                      <%= f.time_field :end_time, {class: 'form-control'}  %>
                  <% end %>
          </td>
          <td>
              <%=end_time(key) && BigDecimal(((end_time(key) - start_time(key))/60/60).to_s).floor(2).to_f %>
          </td>
          <td>
              
          </td>
      
    </tr>
    <% end %>
  
  
        
        
        
        
        <tr>
            
            <td rowspan="1" colspan="2"><%= total_works_time(y,m) %></td>
            <td></td>
            <td></td>
            <td><%=total_time(y,m).sum.floor(2)%></td>
            <td>
              
            </td>
            
        </tr>
    
	</table>
	<%= submit_tag %>
  <% end %>











