<% y = @date.year %>
<% m = @date.month %>

<table class="table table-bordered">		
        <tr>
			<td>日付</td>
			<td>曜日</td>
			<td>出社</td>
			<td>退社</td>
			<td>在社時間</td>
			<td>備考</td>
		</tr>
		
		<% days = (Date.new(y,m).all_month) %>
        <% colors = ["a","b","a","b","a","b","a","b","a","b","a","b","a","b","a","b","a","b","a","b","a","b","a","b","a","b","a","b","a","b","a"] %>
        <% datas = Hash[*days.zip(colors).flatten(1)] %>
        <% datas.each do |key, value| %>
      <tr class="<%=value%>">
  
          <td><%=key.month%>/<%=key.day%></td>
          <td><%= %w(日 月 火 水 木 金 土)[key.wday] %></td>
          <td>
              
              <% if select_user.works.find_by(day: key) && select_user.works.find_by(day: key).start_time %>
                <%= form_for([@user,select_user.works.find_by(day: key)]) do |f| %>
                <%= f.time_select :start_time, {default: start_time(key)},{class: 'form-control'}  %>
                <%= f.submit %>
              <% end %>
              <% else %>
              :
              <% end %>
          </td>
          <td>
              <% if select_user.works.find_by(day: key) && select_user.works.find_by(day: key).end_time%>
               <%= form_for([@user,select_user.works.find_by(day: key)]) do |f| %>
               <%= f.time_select :end_time, {dfault: end_time(key)},{class: 'form-control'}  %>
               <%= f.submit %>
               <% end %>
              <% else %>
              :
              <% end %>
              
          </td>
          <td>
              <%=end_time(key) && BigDecimal(((end_time(key) - start_time(key))/60/60).to_s).floor(2).to_f %>
          </td>
          <td>
              
          </td>
      
    </tr>
    <% end %>
  
  
        
        
        
        
        
        <tr>
            
            <td rowspan="1" colspan="2"><%= total_works_time(y,m) %></td>
            <td></td>
            <td></td>
            <td><%=total_time(y,m).sum.floor(2)%></td>
            <td>
         <%= form_for([@user,select_user.works.find_by(day: Date.today)]) do |f| %>
              <%= f.time_field :start_time%>
              <% end %>
            </td>
            
        </tr>
    
	</table>
	

             
