<% y = @date.year %>
<% m = @date.month %>
<%= form_tag user_work_path,  method: :put do %>
<!-- 更新したレダイレクト先に編集した月のページを表示させるため、paramsを維持させる  -->
<%= hidden_field_tag :piyo, params[:piyo] %>
<table class="table table-bordered">		
        <tr>
			<td>日付</td>
			<td>曜日</td>
			<td>出社</td>
			<td>退社</td>
			<td>在社時間</td>
			<td>備考</td>
		</tr>
		
    <!-- キーがdaysで値がcolorsの配列を作成し、CSSで各行の色分けをする  -->
		<% days = (Date.new(y,m).all_month) %>
        <% colors = ["a","b","a","b","a","b","a","b","a","b","a","b","a","b","a","b","a","b","a","b","a","b","a","b","a","b","a","b","a","b","a"] %>
        <% datas = Hash[*days.zip(colors).flatten(1)] %>
        
        <% datas.each do |key, value| %>
	<!-- workに日付ごとのレコード情報を代入し、time_fieldsのデフォルト時間を表示させる  -->
            <% work = select_user.works.find_by(day: key) %>
    　　
                <tr class="<%=value%>">
  
                    <td><%=key.month%>/<%=key.day%></td>
                    <td><%= %w(日 月 火 水 木 金 土)[key.wday] %></td>
            
    <!-- 出勤時間のフォーム  -->
                    <td>
                        <%= fields_for "works[]", work do |fi| %>
                            <%= fi.time_field :start_time, {class: 'form-control'}  %>
                        <% end %>
                    </td>
    <!-- 退社時間のフォーム  -->
                    <td>
                        <%= fields_for "works[]", work do |fi| %>
                            <%= fi.time_field :end_time, {class: 'form-control'}  %>
                        <% end %>
                    </td>
    <!-- 勤務時間の表示  -->
          　        <td>
              　        <%=end_time(key) && start_time(key) && sprintf("%.2f",  BigDecimal(((end_time(key) - start_time(key))/60/60).to_s).to_f) %>
          　        </td>
    <!-- 備考のフォーム  -->
          　        <td>
                        <%= fields_for "works[]", work do |fi| %>
                            <%= fi.text_field :note, {class: 'form-control', maxlength: 30}  %>
                        <% end %>
          　        </td>
      
                </tr>
            <% end %>
  
  
        
        
        
        
                <tr>
                    <td rowspan="1" colspan="2"><%= sprintf("%.2f", total_works_time(y,m)) %></td><!-- 総合勤務時間の表示  -->
                    <td></td>
                    <td></td>
                    <td><%=sprintf("%.2f", total_time(y,m).sum)%></td><!-- 在社時間の合計の表示  -->
                    <td></td>
            
                </tr>
    
	    </table>
    <%= submit_tag "更新", :class => "btn btn-primary" %>
<% end %>











