<% provide(:title, '全てのユーザー') %>
<% provide(:search_name, 'ユーザー検索') %>
<% provide(:path, users_path) %>
<h1>全てのユーザー</h1>

<%= form_tag users_path, method: 'post', multipart: true do %>
    <div class="search_item">
      <%= text_field_tag 'filename',"", id: "filename", disabled: true %>
      <%= file_field_tag 'users_file', id: "file_input", style: "display: none;", onchange: "file_selected($(this));" %>
      <%= button_tag 'ファイル選択', class: %i(btn-primary csv_input_btn), type: 'button', onclick: "$('#file_input').click();" %>
    </div>
    <%= submit_tag 'CSVをインポート', class: "btn btn-primary csv_submit" %>
<% end %>



<%= will_paginate %>

<ul class="users">
  <%= render @users %>
</ul>

<%= will_paginate %>


<script type="text/javascript">
  function file_selected(file_field){
    var filename = $(file_field)[0].files[0].name;
    $("#filename").val(filename);
  }
</script>