<% provide(:title, '全てのユーザー') %>
<% provide(:search_name, 'ユーザー検索') %>
<% provide(:path, users_path) %>
<h1>全てのユーザー</h1>

<%= form_tag '/fileuploads', method: 'post', multipart: true do %>
	    <%= file_field :fileupload, :file, class: 'filestyle', "data-buttonText": "ファイル選択" %>	
	    <%= submit_tag 'CSVをインポート', class: "btn btn-primary csv_submit" %>
<% end %>



<%= will_paginate %>

<ul class="users">
  <%= render @users %>
</ul>

<%= will_paginate %>


